---
layout: page
title: Blog
---

<div class="page-header">
<h2 class="with-tagline">Bloggings</h2>

<p class="tagline">
<a href="{{ site.base }}/blog.xml" class="feed">
    <i class="fa fa-rss"></i> Subscribe
</a>
</p>
</div>

{% for post in site.posts %}
<article class="preview">
    <p class="tagline">
        <i class="fa fa-calendar"></i>&nbsp;
        {{ post.date || date_to_long_string }}
        {% include listtags.html tags=post.tags %}
    </p>
    <h3>
        <a href="{{ site.base }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <div class="excerpt">
        {{ post.excerpt | replace: 'SITE_BASE', site.url | markdownify }}
    </div>
</article>

{% if forloop.last %}{% else %} <hr/> {% endif %}
{% endfor %}

<script async src="/assets/js/katex_render.min.js"></script>

